* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    min-width: 300px;
    height: 100vh;
}

h3 {
    font-size: 32px;
    color: #2C5F2D;
    text-align: center;
}

h4 {
    font-size: 32px;
    padding-bottom: 5px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    opacity: .8;
}

header {
    padding-bottom: 125px;
    background: linear-gradient(90deg, rgba(44,95,45,0.75) 0%, rgba(12,17,31,0.90) 100%), url(./assets/golfer.jpg);
    background-position: center;
	background-size: cover;
    color: white;
}

header>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

footer {
    height: 250px;
    margin-top: 50px;
    padding: 25px 15px;
    background-color: #2C5F2D;
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 15px;
}

li {
    font-size: 18px;
    font-weight: 700;
}

li:not(:first-child) {
    padding-top: 10px;
}

.bold {
    font-weight: 800;
}

.alt-green-text {
    color: #97BC62;
}

.hero-content {
    padding: 0px 15px;
}

.hero-title {
    font-size: 42px;
    padding: 5px 0;
}

.hero-content>p {
    padding: 25px 0;
    font-weight: 100;
}

.btn {
    border: none;
    border-radius: 20px;
    background-color: #97BC62;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.btn-contact {
    width: 110px;
    height: 35px;
}

.btn-schedule {
    width: 180px;
    height: 50px;
    margin-top: 25px;
}

.btn-schedule>img {
    margin-left: 5px;
    width: 20px;
}

.floating-btn-ctr {
    width: 23%;
    margin: -30px auto 0;
}

.btn-more-info {
    width: 90px;
    flex-direction: column;
    padding: 10px 5px;
}

.btn-more-info>img {
    width: 20px;
}

.about-ctr {
    margin-top: 50px;
}

.about-ctr>p {
    padding: 20px 40px 30px;
    font-size: 14px;
    color: #2C5F2D;
}

.about-ctr>img {
    width: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.spotlight-ctr {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person-info {
    width: 250px;
    margin: 25px auto;
    box-shadow: 4px 12px 40px 2px rgba(31, 12, 12, 0.25);
    border-radius: 50px;
}

.person-info>img {
    width: 250px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.person-info>h6 {
    font-size: 16px;
    padding: 10px 10px 0px;
}

.person-info>p {
    font-size: 14px;
    padding: 15px 10px 35px;
    font-weight: 300;
}

.schedule-ctr {
    position: relative;
    margin-top: 50px;
    padding-top: 25px;
    background-color: #2C5F2D;
}

.schedule-ctr>div {
    width: 80%;
    margin: 50px auto 0px;
    padding: 20px 10px 15px;
    background-color: #fff;
    border-radius: 25px;
}

.box {
    min-width: 450px;
    height:180px;
    position:relative;
}
.box:before,
.box:after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:100%;
    background: #fff;
}
.box:after {
    -webkit-mask:
        radial-gradient(var(--r1,100%) var(--r2,80%) at top   ,white 79.65%,transparent 80%) right,
        radial-gradient(var(--r1,100%) var(--r2,80%) at bottom,transparent 79.65%,white 80%) left;
    mask:
        radial-gradient(var(--r1,100%) var(--r2,80%) at top   ,white 79.65%,transparent 80%) right,
        radial-gradient(var(--r1,100%) var(--r2,80%) at bottom,transparent 79.65%,white 80%) left;
    -webkit-mask-size:50.1% 100%;
    -webkit-mask-repeat:no-repeat;
    mask-size:50.1% 100%;
    mask-repeat:no-repeat;
    background: #2C5F2D;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    height: 140px;
    padding-top: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info>p:first-child {
    padding-bottom: 5px;
    font-weight: 800;
}

.contact-info>p, .contact-info>a {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 100;
}
 
.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-icons>img {
    width: 30px;
    height: 30px;
}